body {
  padding-top: 70px;
  font-family: Arial, sans-serif;
}

.hero-section {
  background: linear-gradient(120deg, #000, #222);
  padding: 100px 0;
}

.hero-img {
  max-height: 350px;
}

.btn-warning {
  background-color: #f3920e;
  border: none;
  border-radius: 0px ;
}
.btn-warning:hover{
  background: #fff ;
  color#000;
}
.product-card {
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  border: none;
}
.me-2{
width: 292px;
    height: 90px;
    object-fit: cover;
}